<form method="post" action="{{ path('app_admin_genus_attribute_delete', {'id': genus_attribute.id}) }}" onsubmit="return confirm({{ "app.admin.crud.removeconfirmationmessage"|trans }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genus_attribute.id) }}">
    <button class="btn btn-danger">{{ "app.admin.crud.delete"|trans }}</button>
</form>
