{% extends 'admin/base.html.twig' %}

{% block title %}Edit Genus Attribute{% endblock %}
{% block bodyTitle %}Edit Genus Attribute{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                </div>
                <div class="card-body">
                    {{ include('admin/genus_attribute/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_admin_genus_attribute_index') }}">back to list</a>
                    {{ include('admin/genus_attribute/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
