<form method="post" action="{{ path('app_admin_landing_slide_delete', {'id': landing_slide.id}) }}" onsubmit="return confirm('{{ "app.admin.crud.removeconfirmationmessage"|trans}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ landing_slide.id) }}">
    <button class="btn btn-danger">{{ "app.admin.crud.delete"|trans }}</button>
</form>