<form method="post" action="{{ path('app_admin_system_log_delete', {'id': system_log.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ system_log.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
