<form method="post" action="{{ path('app_admin_policy_delete', {'id': app_policy.id}) }}" onsubmit="return confirm('{{ "app.admin.crud.removeconfirmationmessage"|trans }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app_policy.id) }}">
    <button class="btn btn-danger">{{ "app.admin.crud.delete"|trans }}</button>
</form>