<a href="{{ shared.appBaseURL }}" class="b-brand text-primary">
    <img src="{{ asset(shared.appLogo) }}" style="width: 66px; height: 28px;" alt="{{ shared.appTitle }} Logo" />
    <!--<span class="badge bg-light-success rounded-pill ms-2 theme-version"></span>-->
</a>