<a href="#" class="b-brand text-primary">
    <!-- ========   Change your logo from here   ============ -->
    <img src="{{ asset('build/theme/ablepro/images/logo-dark.svg') }}" />
    <span class="badge bg-light-success rounded-pill ms-2 theme-version"></span>
</a>