<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<!-- [Head] start -->

<head>

    <title>{% block title %}{% endblock %}</title>
    {% include 'admin/partials/_head.html.twig' %}

</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body>
{% if is_granted("ROLE_USER") %}
<!-- [ Pre-loader ] start -->
{% include 'admin/partials/_preloader.html.twig' %}
<!-- [ Pre-loader ] End -->

<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header justify-content-center">
            {% include 'admin/partials/_logo.html.twig' %}
        </div>
        <div class="navbar-content">
            {% include 'admin/partials/_sidebar.html.twig' %}
        </div>
    </div>
</nav>
<!-- [ Sidebar Menu ] end -->

<!-- [ Header Topbar ] start -->
<header class="pc-header">
    <div class="header-wrapper">
        <!-- [Mobile Media Block] start -->
        <div class="me-auto pc-mob-drp">
            <ul class="list-unstyled">
                <!-- ======= Menu collapse Icon ===== -->
                <li class="pc-h-item pc-sidebar-collapse">
                    <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="pc-h-item pc-sidebar-popup">
                    <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
                <li class="dropdown pc-h-item">
                    <a
                            class="pc-head-link dropdown-toggle arrow-none m-0 trig-drp-search"
                            data-bs-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="false"
                            aria-expanded="false"
                    >
                        <i class="ti ti-search"></i>
                    </a>
                    <div class="dropdown-menu pc-h-dropdown drp-search">
                        <form class="px-3 py-2">
                            <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . ." />
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- [Mobile Media Block end] -->
        <div class="ms-auto">
            {% include 'admin/partials/_headermenu.html.twig' %}
        </div>
    </div>
</header>
<!-- [ Header ] end -->



<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">

        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    {#
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../navigation/index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                                <li class="breadcrumb-item" aria-current="page">Home</li>
                            </ul>
                        </div>
                    #}
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h2 class="mb-0">{% block bodyTitle %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
            {% block body %}{% endblock %}
        <!-- [ Main Content ] end -->

    </div>
</div>
<!-- [ Main Content ] end -->
<footer class="pc-footer">
    {% include 'admin/partials/_footer.html.twig' %}
</footer>

<!-- [Global Scripts] start -->
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
<!-- [Global Scripts] end -->
    {% else %}
    {% include 'admin/partials/_unabletoaccess.html.twig' %}
{% endif %}
</body>
<!-- [Body] end -->
</html>
