{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block bodyTitle %}Dashboard{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">Page Views</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-device-analytics text-secondary f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">Registered Users</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-user-plus text-danger f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">Registered Businesses</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-building-skyscraper text-success f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">Network Traffic</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-activity text-primary f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
