<form method="post" action="{{ path('app_admin_genus_delete', {'id': genu.id}) }}" onsubmit="return confirm('{{ "app.admin.crud.removeconfirmationmessage"|trans}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genu.id) }}">
    <button class="btn btn-danger">{{ "app.admin.crud.delete"|trans}}</button>
</form>
