{% extends 'public/coming_soon/base.html.twig' %}

{% block title %}Say hello to MeeHou!{% endblock %}

{% block body %}

    <div class="content-main animate">
        <div class="container">
            <div class="center count-down animate" data-countdown-year="2024" data-countdown-month="24" data-countdown-day="21"></div>
            <h1 class="font-size-90">Get Ready!</h1>
            <h2 class="opacity-60">Something Awesome is Coming Soon</h2>
        </div>
        <!--end container-->
    </div>
    <!--end content-main-->
    <div class="background-wrapper">
        <div id="background-content"></div>
    </div>
    <!--end background-wrapper-->

{% endblock %}
